nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
}

nav .logo {
  width: 80px;
  height: 80px;
  float: left;
}

nav .header {
  float: left;
  padding-left: 10px;
  font-size: 200%;
  line-height: 2.5;
}

nav .composeButton {
  color: #00a087;
  background-color: #E8FDFF;
  float: right;
  height: 3.5rem;
  width: 7rem;
  border-radius: 0.5rem;
  border: thin solid black;
  margin: 0.7rem;
  font-size: 1.15rem;
}

nav .composeButton:hover {
  color: black;
  background-color: white;
}